/* @import url('https://fonts.cdnfonts.com/css/netflix-font'); */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Netflix Font', sans-serif;
                                                
}

body{
    width: 100vw;
    min-height: 100vh;
    background: black;
    overflow-x: hidden;
}
header{
    width: 100%;
    height: 80vh;
    background: url('../images/bg-movies.jpg') ;
    position: relative;
    border-bottom: 8px solid gray;
}
header::before{
    content: '';
    width: 100%;
    height: 80vh;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 0;
}

.navbar{
    width: 100%;
    height: 100px;
    padding: 5px 40px 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
}
.navbar img{
    height: 120px;
    width: 200px;;
}

.rightNav{
    width: 300px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rightNav .lang{
    background: rgba(0,0,0,.4);
    font-size: .875rem;
    border: 1px solid #aaa;
    color: #fff;
    border-radius: 3px;
    padding: 8px 17px;
    margin-top: 0.5rem;
    margin-right: 32px;
}
.rightNav .lang:hover{
    background-color: #e50914;
}
.rightNav a{
    background-color: #e50914;
    float: right;
    font-size: 1rem;
    font-weight: 400;
    line-height: normal;
    padding: 7px 17px;
    border-radius: 3px;
    color: #fff;
    margin-top: 0.5rem;
    text-decoration: none;
}

header .middleForm{
    color: white;
    width: 100%;
    height: 80vh;
    position: relative;
    display: flex;
    top: -100px;
    align-items: center;
    justify-content: center;
}
.middleForm form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.middleForm form h1{
    font-size: 68px;
    text-align: center;
}

.middleForm form p{
    font-size: 28px;
}
.middleForm form label{
    font-size: 20px;
}
.middleForm form input{
    width: 550px;
    height: 70px;
    padding: 20px;
    border: none;
}
.inputAndButton{
    display: flex;
    align-items: center;
    justify-content: center;
}
.middleForm form button{

    color: white;
    font-size: 24px;
    width: 160px;
    height: 70px;
    border: 1px solid black;
    background: #e50914;
}

/* sections settings start here */

section{
    width: 100%;
    height: 500px;
    border-bottom: 8px solid #222;
}

section .tvWrapper{
    color: #fff;
    padding: 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    

}

.section2 {
    position: relative;
}
.section2 .desktop video{
    position: absolute;
    width: 390px;
    top: 550px;
    right: 420px;
}

section .tvInfo{
    width: 505px;
    height: 180px;
}
section .tvInfo h2{
    font-size: 3.125rem;
    line-height: 1.1;
    margin-bottom: 0.5rem;
}
section .tvInfo p{

    font-size: 1.625rem;
    font-weight: 400;
}

.section5{
    height: fit-content;
    padding: 30px;
}
.section5 h1{
    color: #fff;
    font-size: 48px;
    width: 100%;
    height: 80px;
    margin-top: 30px;
    text-align: center;
}

ul li{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}
ul li button{
    width: 800px;
    height: 80px;
    margin-top: 5px;
    color: white;
    font-size: 24px;
    padding:0 10px;
    background: #303030;
    display: flex;
    justify-content:space-between;
    align-items: center;
    text-align: left;
    cursor: pointer;
}
ul li button span{
    font-size: 60px;
    font-weight: 100;
}

ul li p{
    font-size: 18px;
    line-height: 28px;
    width: 800px;
    height: fit-content;
    padding: 10px;
    margin-top: 5px;
    background: #303030;
    display: none;
}
section form{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
}
section form .readytowatch{
    width: 100%;
    font-size: 24px;
    color: white;
    text-align: center;
}
section form .bottomInput{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
}
.bottomInput input{
    width: 650px;
    height: 60px;
    padding-left: 10px;
    margin-top: 20px;
    border: none;
}
.bottomInput button{
    width: 200px;
    height: 60px;
    margin-top: 20px;
    color: white;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: #e50914 1px solid;
    background-color: #e50914;
}

footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .linkWrapper{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer .linkWrapper .box{
    color: #303030;
    width: 250px;
    height: 300px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    
}

footer .linkWrapper .box a{
    color: #686767;
    text-decoration: none;
}

@media only screen and (max-width:1260px){
    section{
        padding: 60px 0;
        height: fit-content;
    }
    .tvWrapper{
        height: fit-content;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .tvWrapper img{
        width: 400px;
        height: 300px;
    }
    .tvWrapper .tvInfo h2{
        margin-top: 40px;
        font-size: 32px;
    }
    .tvWrapper .tvInfo p{
        font-size: 18px;
    }
    footer{
        justify-content: space-evenly;
    }
}
@media only screen and (max-width:900px) {
    .navbar img{
        width: 100px;
        height: 80px;
    }
    .rightNav .lang,a{
        width: 85px;
        height: 35px;
    }
    /*  middle form responsive design */
    .middleForm form h1{
        font-size: 3.2rem;
    }
    .middleForm form p{
        font-size: 1.6rem;
    }
    .middleForm form label{
        font-size: 1.3rem;
    }

    .section5 form .readytowatch {
        font-size: 20px;
    }

    .middleForm form .inputAndButton input{
        max-width: 350px;
        height: 50px;
    }
    .middleForm form .inputAndButton button{
        font-size: 16px;
        font-weight: 600;
        width: 110px;
        height: 50px;
    }
    /* ----------------------------------------------------- */
    ul li button{
        width: 500px;
        height: 60px;
    }
    ul li p{
        width: 500px;
    }

    .bottomInput input{
        max-width: 350px;
        height: 60px;
    }
    .bottomInput button{
        font-size: 20px;
        width: 150px;
    }
}
@media only screen and (max-width:780px) {

    .middleForm form h1{
        font-size: 2.7rem;
    }
    .middleForm form p{
        font-size: 1.3rem;
    }
    .middleForm form label{
        font-size: 1.0rem;
    }

    
    .middleForm form .inputAndButton input{
        max-width: 350px;
        height: 45px;
    }
    .middleForm form .inputAndButton button{
        font-size: 16px;
        font-weight: 600;
        width: 110px;
        height: 47px;
    }
    .section5 h1 {
        font-size: 2.2rem;
    }
    
    ul li button{
        font-size: 1.2rem;
        width: 450px;
        height: 40px;
    }
    ul li p{
        width: 450px;
    }

    .input input{
        margin: 50px 0 0 50px;
        min-width: 250px;
        height: 50px;
        justify-content: center;
    }
    .input button{
        margin: 50px 0 0 0;
        font-size: 18px;
        min-width: 150px;
        height: 50px;
    }
}
@media only screen and (max-width:580px) {

    
    .middleForm form h1{
        font-size: 2rem;
    }
    .middleForm form p{
        font-size: 1rem;
    }
    .middleForm form label{
        font-size: 0.8rem;
    }

    
    .middleForm form .inputAndButton input{
        max-width: 300px;
        height: 40px;
    }
    .middleForm form .inputAndButton button{
        font-size: 15px;
        font-weight: 600;
        width: 100px;
        height: 42px;
    }
    section{
        padding: 0;
    }

    .tvWrapper img{
        width: 300px;
        height: 250px;
    }
    .tvInfo{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .tvWrapper .tvInfo h2{
        width: 300px;
        margin-top: 40px;
        font-size: 28px;
        text-align: center;
    }
    .tvWrapper .tvInfo p{
        font-size: 16px;
        width:250px;
    }
    .section5 h1 {
        font-size: 1.6rem;
    }
    .section5 .readytowatch{
        font-size: 16px;
    }
    ul li button{
        font-size: 1rem;
        width: 350px;
        height: 40px;
    }
    ul li button > span{
        font-size: 1rem;
    }
    ul li p{
        width: 350px;
    }

    .bottomInput input{
        width: 250px;
        height: 30px;
    }
    .bottomInput button{
        font-size: 16px;
        font-weight: 600;
        width: 110px;
        height: 30px;
    }

}